name: Publish compiler docker image

on:
  pull_request:
  push: 
    branches:
      - 'main'    


jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: [self-hosted, CI-worker]

    steps:
      - uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          cd images/compiler
          echo "$SSH_KEY" > key.ssh
          DOCKER_BUILDKIT=1 docker build --no-cache --progress=plain --secret id=ssh_key,src=key.ssh -t matterlabs/compiler . 
          docker push matterlabs/compiler:latest

        env:
          SSH_KEY: ${{secrets.SSH_KEY}}

