name: Build and release

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  handle_image:
    runs-on: matterlabs-default-infra-runners
    strategy:
      matrix:
        tag_prefix: ["ubuntu20-llvm17", "ubuntu22-llvm15", "ubuntu22-llvm17"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: images/llvm_runner/${{ matrix.tag_prefix }}.Dockerfile
          ignore: DL4006

      - name: Identify short SHA
        id: short_sha
        run: echo "sha=$(git rev-parse --short HEAD)" >> "${GITHUB_OUTPUT}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: 'linux/amd64,linux/arm64,linux/arm64/v8'

      - name: Log in to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and optionally push Docker image
        uses: docker/build-push-action@v5
        with:
          push: ${{ github.event_name == 'push' }}
          tags: |
            matterlabs/llvm_runner:${{ matrix.tag_prefix }}-${{ steps.short_sha.outputs.sha }}
            matterlabs/llvm_runner:${{ matrix.tag_prefix }}-latest
          file: images/llvm_runner/${{ matrix.tag_prefix }}.Dockerfile
          platforms: 'linux/amd64,linux/arm64,linux/arm64/v8'
